@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.btn-success {
    background-color: #52BB62;
    border-color: #52BB62;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 20px;
}
.btn-success a {
    color: #ffff;
    text-decoration: none;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    background-color: #52BB62;
    border-color: #52BB62;
    color: #ffff;
}
#learnMore {
  width: 12%;
  padding: 10px;
}
#apply {
  width: 12%;
  padding: 10px;
}
.navbar-nav .nav-link {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    margin-left: 30px; 
}
.custom-navbar {
    background-color: #011F21;
}
.container{
    padding-top: 15px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif
  }
  .upper {
    position: relative;
    min-height: 100vh;
    background-image: url("../images/hands.png");
    background-position: center;
  }
  .container {
    margin: 0 8%;
  }
  .promotext {
    padding-top: 18%;
    color: #52BB62;
  }
  .promotext h1 {
    font-size: 5rem;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 7px;
  }
  .promotext p {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 10px;
    color: #C3D5C5;
  }
  .login {
    border-radius: 3%;
    position: absolute;
    padding: 30px 40px;
    text-align: center;
    background-color: #011a1c;
    right: 8%;
    bottom: 15%;
    height: 70%;
    width: 26%;
  }
  .login h4 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #52BB62;
    margin-top: 40px;
  }
  .login p {
    margin-top: 10px;
    font-size: 18px;
    color: #FDFEF8;
    margin-bottom: 60px;
  }
  .inputbox {
    position: relative;
    margin-bottom: 30px;
  }
  .inputbox input, .inputbox textarea{
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #000000;
    border: none;
    padding: 1px;
    outline: none;
    background-color: #C3D5C5;
  }
  .signUp {
    padding: 5px;
    margin-top: 10px;
    font-weight: 400;
  }
  .signUp p {
    font-size: 14px;
  }
  .signUp a {
    color: #52BB62;
    text-decoration: none;
  }
  .middle{
    position: relative;
    min-height: 75vh;
    background-image: url("../images/voters.png");
    background-size: 80%;
    background-color: #214E34; 
    background-repeat: no-repeat; 
    background-size: contain;
  }
  .info {
    position: absolute;
    text-align: center;
    background-color: #C3D5C5;
    right: 0%;
    height: 100%;
    width: 50%;
    bottom: 0%;
}

.info #logo1 {
  width: 100px;
  height: auto;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-right: 30px; 
}
.info #logo2 {
  width: 100px;
  height: auto;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 30px;
}
.info #logo1,
.info #logo2 {
    width: 100px;
    height: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    filter: grayscale(100%); 
    transition: filter 0.3s; 
}

.info #logo1:hover,
.info #logo2:hover {
    filter: grayscale(0%); 
}
  .info h4 {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #011F21; 
   
  }
  .info p {
    margin-top: 10px;
    font-size: 18px;
    color: #011F21; 
    margin-bottom: 60px;
    text-align: center;
  }
  .why{
    padding-top: 3px;
  }
  .container {
    margin: 0 8%;
  }
  .votetext {
    margin-left: 8%;
    padding-top: 5%;
    color: #F9F6EE;
  }
  .votetext h1 {
    font-size: 35px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 4px;
  }
  .votetext p {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 10px;
  }
  .below{
    position: relative;
    min-height: 75vh;
    background-image: url("../images/line.png");
    background-size: 80%;
    background-color: #354543;
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: bottom; 
    background-size: contain;
  }
  .endingtxt {
    margin-left: 8%;
    padding-top: 5%;
    color: #F9F6EE;
  }
  .endingtxt h1 {
    font-size: 50px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 4px;
  }
  .endingtxt p {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 20px;
  }
  .newSection{
    position: relative;
    min-height: 75vh;
    background-image: url("../images/candidate.png");
    background-size: 80%;
    background-color: #011F21;
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: bottom; 
    background-size: contain;
  }
  .new {
    margin-left: 120px;
  }
  .newText {
    padding-top: 10%;
    color: #F9F6EE;
  }
  .newText h1 {
    font-size: 50px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 4px;
  }
  .newText p {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 20px;
  }
  .footer-container{
    background-color: #F9F6EE;
    margin: 0%; 
    padding-bottom: 5px;
  }
  .footer-container p {
    padding: 15px;
    text-align: center;
    font-weight: 700;
    padding-top: 50px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
  }
