/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    padding: 20px;
    background-color: #011F21;
}

.receipt-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    color: #011F21;
    text-align: center;
}

p {
    color: #52BB62;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto; 
}

li {
    margin-bottom: 10px;
}

li strong {
    color:  #52BB62;
}

.maximo p {
    text-align: center;
    color: #52BB62;
}

.btn-success {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    margin-left: 45%;
    margin-right: 40%;
}
