@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.navbar-nav .nav-link {
  color: #ffffff;
  font-size: 12px;
  font-weight: 1000;
  margin-left: 30px; 
}   
.custom-navbar {
  background-color: #011F21;
}
.container{
  padding-top: 25px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    text-align: center;
  }
.welcome h1 {
  margin-top: 5%;
  font-weight: 700;
  color: #52BB62;
}
.progress-wrapper {
  margin: 0 auto; 
  text-align: center; 
}
.election-turnout {
  margin-top: 5%;
}
.election-turnout h4 {
  margin-bottom: 2%;
  color: #ffffff;
}
.resultSection {
  margin-top: 5%;
  margin-bottom: 10%;
}
.resultSection h4 {
  margin-bottom: 2%;
  color: #ffffff;
}
.footer-container{
  background-color: #F9F6EE;
  margin: 0%; 
  padding-bottom: 5px;
}
.footer-container p {
  padding: 15px;
  text-align: center;
  font-weight: 700;
  padding-top: 50px;
}
.table thead th {
  color: white; 
}
th [scope="row"] {
  color: #52BB62;
}
.btn-success {
  background-color: #52BB62;
  border-color: #52BB62;
  font-weight: 700;
}
.btn-success p {
  font-weight: 700;
  margin-bottom: 0%;
}