@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
  background-color: #19302F;
}
.btn-success {
    background-color: #52BB62;
    border-color: #52BB62;
    font-weight: 700;
    
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    background-color: #52BB62;
    border-color: #52BB62;
    color: #ffff;
}
#agreeToTerms {
margin-left: 20%;
}
.form-check-input:checked{
  background-color: #52BB62;
  border: 0;
}
.form-check label{
    color: #ffff;
    font-size: small;
    text-decoration: none;
    margin-right: 30%;
}
.navbar-nav .nav-link {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    margin-left: 30px; 
}
.custom-navbar {
    background-color: #19302F;
}
.container{
    padding-top: 25px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
  }
  section {
    position: relative;
    min-height: 100vh;
    background-color: #19302F;
    padding-bottom: 5%; 
  }
  .container {
    margin: 0 7%;
  }
  .login {
    border-radius: 3%;
    position: absolute;
    padding: 60px 80px;
    text-align: center;
    background-color: #011a1c;
    right: 12%;
    bottom: 3%;
    height: 90%;
    width: 40%;
  }
  #support {
    margin-top: 5px;
    font-size: small;
  }
  .info {
    position: absolute;
    background-image:  url("../images/gilid.png");
    background-size: cover;
    height: 90%; 
    width: 35%; 
    right: 51%;
    bottom: 3%;
  }
  .login h4 {
    margin-top: 5%;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #52BB62;
  }
  .login p {
    margin-top: 5px;
    font-size: 18px;
    color: #FDFEF8;
    margin-bottom: 40px;
  }
  #repeatPassword {
    margin-top: 4%;
    margin-bottom: 20px;
  }
  .inputbox {
    position: relative;
    margin-top: 10%;
  }
  .inputbox input, .inputbox textarea{
    
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #000000;
    border: none;
    padding: 1px;
    outline: none;
    background-color: #C3D5C5;
  }
  .signUp {
    padding: 5px;
    margin-top: 60px;
    margin-bottom: 10px;
    font-weight: 400;
  }
  .signUp p {
    font-size: small;
  }
  .signUp a {
    bottom: 15px;
    color: #52BB62;
    text-decoration: none;
  }
  .footer-container{
    background-color: #F9F6EE;
    margin: 0%; 
    padding-bottom: 5px;
    margin-top: 5%;
  }
  .footer-container p {
    padding: 15px;
    text-align: center;
    font-weight: 700;
    padding-top: 50px;
  }